@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes slowPan {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.adventure-bg {
  background-size: 140% 140%;
  animation: slowPan 25s ease-in-out infinite;
}